## Import all the libraries here

In [128]:
import json
import jsonlines
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

#### Load the Data here

In [118]:
sample_dict = dict.fromkeys(['plant','technology','linename', 'lineid', 'lineproperties', 'plcno','componentid','variable','value','q','t'])
df  = pd.DataFrame([sample_dict], columns=sample_dict.keys())

In [119]:
df

,plant,technology,linename,lineid,lineproperties,plcno,componentid,variable,value,q,t
0,None,None,None,None,None,None,None,None,None,None,None

In [120]:
with jsonlines.open('Self1.json') as reader:
    for obj in reader:
        empty_dict = dict.fromkeys(['plant','technology','linename', 'lineid', 'lineproperties', 'plcno','componentid','variable','value','q','t'])
        
        empty_dict['plant'] = 'W9'
        empty_dict['technology'] = (obj["data"]["id"][15])
        empty_dict['linename'] = (obj["data"]["id"][16:18])
        empty_dict['lineid'] = (obj["data"]["id"][18])
        empty_dict['lineproperties'] = (obj["data"]["id"][19:21])
        empty_dict['plcno'] = (obj["data"]["id"][21:23])
        empty_dict['componentid'] = (obj["data"]["id"][24:29])
        empty_dict['variable'] = (obj["data"]["id"][41:])
        empty_dict['value'] = (obj["data"]["Value"])
        empty_dict['q'] = (obj["data"]["q"])
        empty_dict['t'] = (obj["data"]["t"])
        
        df = df.append(empty_dict, ignore_index=True)

In [121]:
finalData = df.iloc[1:]

In [122]:
finalData.head()

,plant,technology,linename,lineid,lineproperties,plcno,componentid,variable,value,q,t
1,W9,3,VB,5,MB,03,40R01,CALCAMOUNT_CCM,7.992154,1,1526256014055
2,W9,3,VB,5,MB,03,40R01,DEVIATION_PERC,-1.413895,1,1526256014055
3,W9,3,VB,5,MB,03,40R01,SECOND,13.000000,1,1526256014056
4,W9,3,VB,5,MB,03,40R01,ACTAMOUNT_CMM,8.034767,1,1526256014055
5,W9,3,VB,5,MB,03,40R01,MINUTE,0.000000,1,1526256014056

In [126]:
finalData.shape

(7291, 12)

In [130]:
finalData['device_number'] = finalData['technology'] + finalData['linename'] + finalData['lineid'] + finalData['lineproperties'] + finalData['plcno'] + finalData['componentid']

In [131]:
finalData.head()

,plant,technology,linename,lineid,lineproperties,plcno,componentid,variable,value,q,t,device_number
1,W9,3,VB,5,MB,03,40R01,CALCAMOUNT_CCM,7.992154,1,1526256014055,3VB5MB0340R01
2,W9,3,VB,5,MB,03,40R01,DEVIATION_PERC,-1.413895,1,1526256014055,3VB5MB0340R01
3,W9,3,VB,5,MB,03,40R01,SECOND,13.000000,1,1526256014056,3VB5MB0340R01
4,W9,3,VB,5,MB,03,40R01,ACTAMOUNT_CMM,8.034767,1,1526256014055,3VB5MB0340R01
5,W9,3,VB,5,MB,03,40R01,MINUTE,0.000000,1,1526256014056,3VB5MB0340R01

In [132]:
# Write the final data here
finalData.to_csv('FinalData.csv')